<div   style="margin-top: 200px;">
  <div [formGroup]="queryFilter" class="spaceBottom" style=" margin-left: 40%; margin-right: 30%;">
    <div style="display: flex;">
      <div style="flex: 1; margin-right: 10px;">
        <label for="">Filtar por operador:</label>
        <select formControlName="operator" class="form-select" aria-label="Default select example">
          <option value="-1">--Todo--</option>
          <option *ngFor="let item of operatorResponseDto" [value]="item.id">{{item.description}}</option>
        </select>

      </div>
      <div style="flex: 1;">
        <label for="">Filtrar por persona</label>
        <select formControlName="person" class="form-select" aria-label="Default select example">
          <option value="-1">--Todos--</option>
          <option *ngFor="let item of  listPersonResponseDto" [value]="item.id">{{item.name}} {{item.lastname}}</option>
        </select>

      </div>
    </div>
    <div style="display: grid; place-items: center; margin-bottom: 3px; margin-top: 3%;">
      <button (click)="filter()" class="btn btn-primary btn-block" style="background-color: #207cca;">filtrar</button>
    </div>
  </div>

<div class="container">
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Vendedor</th>
        <th>Fecha Recarga</th>
        <th>Nro Celular</th>
        <th>Operador</th>
        <th>Valor recarga</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listRechargeResponseDto; let i = index" [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }">
        <td>{{ i + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.saleDate | date:'dd/MM/yyyy' }}</td>
        <td>{{ item.phoneRecharge}}</td>
        <td>{{ item.descriptionOperator }}</td>
        <td>{{ item.priceRecharge | currency:'COP ' }}</td>

      </tr>
    </tbody>
  </table>
</div>

</div>
