
<div class="container">
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>Operador</th>
        <th>Cantidad de recargas</th>
        <th>Suma de precios de recargas</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stat of statisticsList">
          <td>{{ stat.description }}</td> <!-- Nombre del operador -->
          <td>{{ stat.totalCount | number}}</td> <!-- Cantidad de recargas -->
          <td>{{ stat.totalSum | number }}</td> <!-- Suma de precios de recargas -->
      </tr>
    </tbody>
  </table>
</div>

